/*.home is everything between the header and the footer*/
.home{
  background-image: url("../background.png");
  background-repeat: repeat;
}
/*.cover is the container holding all elements*/
.cover{
  color: white;
  padding: 10px;
}

.welcome{
  display: inline-block;
  background-color: #343a40;
  padding: 10px;
}

.cover-heading{
  color: #343a40;
  display: inline-block;
  padding: 10px;
}

.carousel{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 100px;
}

.carousel-item img{
  object-fit: contain;

}

.head{
  color: #343a40;
}

.item{

}

.row-header {
  height: 150px;
  margin: 20px;
}

.container {
  margin-top: 10px;
}

.comment {
  background-color: rgba(52,58,64,0.8);
  border-radius: 20px;
  padding: 7px;
  vertical-align: middle !important;
}

.newProducts{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 100px;
}

.newProducts h1{
  background-color: rgba(52,58,64,0.9);
  padding: 1%;
  text-align: center;
}

.item{
  background-color: rgba(52,58,64,0.9);
  padding: 1%;
  margin: 1%;
}

.item img{
  max-width: 90%;
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item p{
  max-width: 90%;
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
