.footer{
  width: 100%;
}

.registerPage{
  background-image: url("../background.png");
  background-repeat: repeat;
  height: 100vh;
}

.forms{
  background-color: white;
  color: rgba(52,58,64);
  padding: 2%;
}
