.terms{
  background-image: url("../background.png");
  background-repeat: repeat;
  height: 100%;
}

.termsText{
  background-color: white;
  color: rgba(52,58,64);
  padding: 2%;
  margin-bottom: 1%;
}

.footer{
  width: 100%;
}
